<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>yuji yabe portfolio</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700,900|Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.16/vuetify.css">
	<meta id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
	<div id="app" style="display:none;">
		<v-app>
			<v-content>
				<v-container fluid grid-list-xl>
					<!-- title ------------------------------------------ -->
					<v-layout justify-center>
						<v-flex xs12>
							<div class="title_text display-1">
								<span class="text_darkcyan">Y U J I Y A B E</span>
							</div>
						</v-flex>
					</v-layout>
					<v-layout justify-center>
						<v-flex xs12>
							<div class="title_text display-4">
								<span class="text_darkcyan">p o r t f o l i o</span>
							</div>
						</v-flex>
					</v-layout>
					<br>
					<br>

					<!-- work list ------------------------------------------ -->
					<v-layout justify-start row wrap>
						<!-- ==================================================================== -->
						<v-flex xl4 lg4 md4 sm6 xs12 v-for="(product, index) in productList" :key="index">
							<v-card class="mx-auto" color="grey lighten-3">
								<v-card-title class="display-1 work">
									{{product.name}}
								</v-card-title>
								<v-card-text>
									<v-img class="white--text" position="top" height="260px" :src="product.image"
										@click.stop="openDialog(index)">
									</v-img>
									<span>
										{{product.explication}}
									</span>
									<br>
									<a :href="product.sourceUrl" target="_blank">
										{{product.sourceTitle}}</a>
									<br>
									<a :href="product.optionUrl" target="_blank">
										{{product.optionTitle}}</a>
									<br>
								</v-card-text>
							</v-card>

							<v-dialog v-model="dialog" scrollable>
								<v-card>
									<v-img id="imageDialog" position="top" :src="dialogImage">
									</v-img>
								</v-card>
							</v-dialog>

						</v-flex>

					</v-layout>
				</v-container>
			</v-content>
		</v-app>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.16/vuetify.js"></script>
	<link rel="stylesheet" href="portfolio-0.1.css">

	<script>
		const app = new Vue({
			el: '#app',
			data: {
				title: "click to open dialog",
				content: "サンプルです。元はtitleとcontentはpropsで定義して上位から値を渡す仕様でしたが、CodePen用に簡略化してあります。ダイアログの外をクリックすると、ダイアログが閉じます。",
				dialog: false,
				dialogImage: "",

				productList: [
					{
						name: "compareplace",
						image: "static/image/compareplace.png",
						explication: "比較しながら置換できるツール",
						sourceUrl: "https://github.com/YujiYabe/compareplace/",
						sourceTitle: "github",
						optionUrl: "https://yujiyabe.github.io/compareplace/",
						optionTitle: "動作ページ",
						dialog: false,
					},
					{
						name: "cameraTranslate",
						image: "static/image/cameraTranslate.png",
						explication: "カメラ→テキストOCR→翻訳スマホアプリ",
						sourceUrl: "https://github.com/YujiYabe/cameraTranslate",
						sourceTitle: "github",
						optionUrl: "https://celestial-sum-110500.appspot.com/",
						optionTitle: "動作ページ",
					},
					{
						name: "electronIDM",
						image: "static/image/electronIDM.png",
						explication: "シンプルなパスワード管理アプリ",
						sourceUrl: "https://github.com/YujiYabe/electronIDM",
						sourceTitle: "github",
						optionUrl: "https://drive.google.com/file/d/1kV_yrNCW26puodsYSmtmjeBHRXPzD_Sv/view?usp=sharing",
						optionTitle: "ダウンロード(linux only)",
					},
					{
						name: "ctrlHomeGadget",
						image: "static/image/ctrlhomegadget.png",
						explication: "テレビ＆モニタリモコンアプリ",
						sourceUrl: "https://github.com/YujiYabe/demo-ctrlHomeGadget",
						sourceTitle: "github",
						optionUrl: "https://yayuji-demo-ctrlhomegadget.firebaseapp.com/tv",
						optionTitle: "動作ページ(デモ)",
					},
					{
						name: "ctrlRoomClient",
						image: "static/image/ctrlRoomClient.png",
						explication: "エアコン＆照明リモコンアプリ",
						sourceUrl: "https://github.com/YujiYabe/demo-ctrlRoomClient",
						sourceTitle: "github",
						optionUrl: "https://yayuji-demo-ctrlroomclient.firebaseapp.com",
						optionTitle: "動作ページ(デモ)",
					},
					{
						name: "QRepository",
						image: "static/image/QRepository.jpeg",
						explication: "テキストを保存→QRコードを表示・保存できるツール",
						sourceUrl: "https://github.com/YujiYabe/QRepository",
						sourceTitle: "github",
						optionUrl: "https://yujiyabe.github.io/QRepository/",
						optionTitle: "動作ページ",
					},
					{
						name: "anywhereNote",
						image: "static/image/anywhereNote.png",
						explication: "Evernoteライクなデスクトップアプリ",
						sourceUrl: "https://github.com/YujiYabe/anywhereNote",
						sourceTitle: "github",
						optionUrl: "https://drive.google.com/open?id=18m2e1vAmuYwBbDqT5bHe-hDhLDpDUGRv",
						optionTitle: "ダウンロード",
					},
					//{
					//	name: "",
					//	image: "",
					//	explication: "",
					//	sourceUrl: "",
					//	sourceTitle: "",
					//	optionUrl: "",
					//	optionTitle: "",
					//},
				]

			},
			mounted() {
				document.getElementById("app").style.display = "";
			},

			methods: {
				openDialog: function (index) {
					this.dialog = true
					this.dialogImage = this["productList"][index]["image"]
					// let imageElement = document.getElementById("imageDialog")
					// imageElement.src = this["productList"][index]["image"]
				},
			}
		}
		)
	</script>
</body>

</html>
