.title_text {
  font-family: "Lobster Two" !important;
  font-size: "120px" !important;
  text-align: center;
}

textarea {
  tab-size: 4;
}

.text_blue {
  color: #008080;
}

.font_mono {
  font-family: "Noto Sans Mono CJK JP Regular", "MS Gothic", "Osaka", Consolas,
    "Courier New", Courier, Monaco, monospace;
}

.bg_pink {
  background-color: #ffe8ec;
}

.bg_pink_keyword {
  background-color: rgb(247, 192, 201);
}

.bg_aqua {
  background-color: #ceecf5;
}

.bg_aqua_keyword {
  background-color: rgb(20, 190, 241);
}

.bg_perple {
  background-color: #d0a9f5;
}

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.z_index_txtBody {
  z-index: 1;
}
